/* Google font import links */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Reset and base styling */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

/* Header */
header {
    background-color: #0e0f0c;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* Logo styles */
.logo {
    font-size: 2.5em;
    color: #fff;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

/* Nav bar styling */
.nav-bar {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex: 1;
}
.nav-bar ul {
    display: flex;
    gap: 15px;
    list-style: none;
}
.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    transition: color 0.3s;
}
.nav-bar ul li a:hover {
    color: lightblue;
}
.nav-bar ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: width 0.5s;
}
.nav-bar ul li a:hover::after {
    width: 100%;
}

/* Main */
main {
    flex: 1;
    margin-top: 80px;
    text-align: center;
}

/* Container styling */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px 100px;
    overflow: hidden;
}
.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/736x/74/f7/5a/74f75afb068db74ca9feb9e9efea0370.jpg") no-repeat center / cover;
    filter: blur(50px);
    opacity: 0.5;
    z-index: -1;
}

/* Contact box styling */
.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}
.contact-box .left {
    background: url("https://i.pinimg.com/736x/74/f7/5a/74f75afb068db74ca9feb9e9efea0370.jpg") no-repeat center / cover;
}
.contact-box .right {
    padding: 25px 40px;
}

/* Headings */
h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}
h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

/* Form Fields */
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgba(230, 230, 230, 0.6);
    border: 2px solid rgba(0, 0, 0, 0);
    margin-bottom: 22px;
    transition: background-color 0.3s, border-color 0.3s;
}
.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
    border-color: rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/* Textarea Field */
textarea {
    min-height: 150px;
}

/* Button Styling */
.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s;
}

.join {
font-size: 1.5rem;
margin-bottom: 30px;


}

.btn:hover {
    background-color: lightblue;
}

/* Social Media Icons */
#social-networks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#social-networks li {
    display: inline-block;
}
#social-networks a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
#social-networks a:hover {
    color: lightblue;
}

/* Footer */
footer {
    background-color: #20211A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.icon-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

/* Responsive Design */
@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .contact-box .left {
        height: 200px;
    }
}
