/* google font import links */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url("https://www.aig.ie/content/aig/emea/ie/en/our-blog/first-hand-guide-to-solo-travelling/_jcr_content/root/responsivegrid/container/container_copy_copy_/articleimage_copy_1995514872.coreimg.jpeg/1714386874843/solo-traveling-1-1440x720.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* logo styles */
.logo {
    font-size: 2em;
    color: #fff;
    font-family: 'Pacifico', cursive; /* Ensure proper font import */
    text-decoration: none;
    font-size: 2.5em;
    
}


/* nav bar styling */
.nav-bar {
    flex: 1;
    text-align: right;
}

.nav-bar ul li {
  list-style-type: none; 
  display: inline-block; 
  padding: 8px 12px;
  position: relative;
}


.nav-bar ul li a {
   color: #fff; 
   text-decoration: none;
   font-size: 0.9em;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;
}

.nav-bar ul li a:hover {
    color: lightblue;
    transform: ease in 0.4s;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff; /*place holder color */
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after {
 width: 100%;   
}

/* text box styling */
.text-box {
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}

/* text box h1 styling */
.text-box h1 {
  font-size: 62px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}


/* text box p styling*/
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;

}


/* hero button styling */
.hero-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}


/* hero button hover styling */
.hero-button:hover {
   border: 1px solid lightblue; /*place holder color */
   background: lightskyblue; /*place holder color */
   transition: 0.8s;
}


nav .fa-solid.fa-bars {
   display: none;
}

nav .fa-solid.fa-xmark {
    display: none;
}

/* Media query for small screens (phones, up to 480px wide) */
@media only screen and (max-width: 480px) {
  
    .text-box h1 {
      font-size: 20px;
    }
  
    .nav-bar ul li {
      display: block;
    }
  
    .nav-bar {
      position: absolute;
      background: #1D1615; /* Placeholder color */
      height: 100vh;
      width: 200px;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2;
    }
  
    /* Show menu icon only on mobile screens */
     nav .fa-solid.fa-xmark {
      color: #fff;
      display: block;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }

